html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main{
    background-color: #E2C2DE;
    min-height: 100%; /* 確保 .main 高度至少與視窗高度一致 */
}
.home{
    min-height: 100%; /* 確保 .home 高度至少與視窗高度一致 */
    display: flex;
    flex-direction: column;
}



.container{
    background-color: purple;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.home-list{
    margin-top: 30px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    height: 50px;
}

.home-list button:hover {
    color:#FFD306;/* 滑鼠接觸時的文字顏色 */
}


.subtitle{
    margin-top: 30px;
    margin-left: 100px;
    font-size: 20px;
}

.subtitle a{
    color:white;
}

.subtitle :hover{
    color:#FFD306;
}


.home-list button{
    background-color: transparent;
    border:none;
    font-size: 24px;
    font-family: Arial;
    margin-left: 20px;
    color:white;
}

.button-1{
    order:1;

}

.button-2{
    order:2;
}

.button-3{
    order:3;
}

.button-4{
    order:4;
}

.button-5{
    order:5;
}

.container-2{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.me{
   float:left;
}

.me img{
    border-radius: 50%;
    border: 4px solid #FF8EFF; 
    margin-bottom: 20px;
}

.more{
    margin-top: 40px;
    background-color: purple;
    color:white;
    height:50px;
    width:100px;
    font-size: 23px;
    text-align: center;
    float:right;
    border-radius: 10px;
    border: none;
    font-family: Stencil;
}

.text button:hover{
    background-color: #FF8EFF;
}

.text{
    margin-top: 0px;
}

.text p{
    font-size: 50px;
    font-family:Stencil;
    margin-bottom: 70px;
}

.text div i{
    font-size: 70px;
    font-family:Stencil;
}

.text div{
    margin-top: 50px;
    font-size: 24px;
    font-family: Arial;
}

.main-2{
    background-color: azure;
    min-height: 100%;
}

.about-me{
        margin-left: 100px;
        margin-right: 100px;
        min-height: 100%; /* 確保 .home 高度至少與視窗高度一致 */
        display: flex;
        flex-direction: column;
}

.container-3{
    display:flex;
    justify-content: center;
    margin-top: 100px;
    font-family:Stencil;
}


.container-4{
    margin-top: 100px;
    display: flex;
    align-items: top;
}

.container-4 img{
   margin-right: 50px;
   
}
.container-4 p{
    margin-top: 10px;
    flex: 1; /* Allow the paragraph to grow and take remaining space */
    font-size: 36px;
    font-family: 標楷體;
    text-align: justify; /* 將文字左右對齊 */
}

.container-5{
    margin-top: 100px;
    display: flex;
    align-items: top;
}

.container-5 img{
    margin-top: 30px;
}

.container-5 p{
    flex: 1; /* Allow the paragraph to grow and take remaining space */
    font-size: 36px;
    font-family: 標楷體;
    margin-right: 50px;
    text-align: justify; /* 將文字左右對齊 */
}

.container-6{
    margin-top: 100px;
    display: flex;
    align-items: top;
}

.container-6 img{
    margin-right: 50px;
    margin-top: 10px;
    
 }

 .container-6 p{
     margin-top: 10px;
     flex: 1; /* Allow the paragraph to grow and take remaining space */
     font-size: 34px;
     font-family: 標楷體;
     text-align: justify; /* 將文字左右對齊 */
 }
 
 .container-7 a{
    text-decoration: none; /* 移除連結底線 */
    color:blue;
    font-size: 30px;
 }

 .container-7 a :hover{
    text-decoration: none; /* 移除連結底線 */
    border-bottom: 3px solid red; /* 添加底部邊框代替連結底線 */
    color:red;
    font-size: 30px;
 }

 .container-7 div {
    font-size: 30px; /* 調整字體大小 */
    display: flex;
    flex-direction: row;
}

.ability-1{
    flex:1;
}

.ability-2{
    flex:1;
}

.ability-3{
    flex:1;
}

.ability-4{
    flex:1;
}

.ability-5{
    flex:1;
}

.ability-6{
    flex:1;
}

.ability-7{
    flex:1;
}

.ability-8{
    flex:1;
}

.ability-9{
    flex:1;
}

.about-me div{
    margin-top: 80px;
    font-size: 40px;
}



